

/* AUTOCAT COMPONENT INJECTION */


global.__AUTOCAT_COMPONENTS__ = global.__AUTOCAT_COMPONENTS__ || [];

global.__AUTOCAT_COMPONENTS__.push({
    name: '<%= componentName  %>',
    component: <%= componentName  %>,
    props: <%= propsDescriptor  %>,
    fileName: '<%= fileName %>',
    fullPath: '<%= fullPath %>'
  });


<%= exportNodeSource %>