* { box-sizing: border-box; }

aside.ac-sidebar {
    overflow: scroll;
    border-right: 1px solid #ccc;
    height: 100%;
    position:fixed;
    left:0;
    top:0;
    width: 30%;
    z-index: 1000;
}

section.ac-section {
    padding-left: 30%;
}

.component-harness__metadata{
    background-color: #f7f7f7;
    border-bottom: 1px solid #eaeaea;
    color: #737373;
    height: 70px;
    line-height: 70px;
    margin-bottom: 20px;
}

.props-panel{
    padding: 14px;
}